.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.1875rem;
}

.header__logo span {
    font-weight: 1000;
    font-size: 30px;
    letter-spacing: 3px;
}

@media (max-width: 480px) {
    .header {
        margin-top: 1rem;
        justify-content: center;
    }
    .header__logo {
        display: none;
    }
}