.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__heading {
    font-weight: 900;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.hero__heading--highlight {
    color: var(--modify__blue);
}

.hero__buttons {
    display: flex;
    gap: 1.5rem;
}

.hero__button {
    border-radius: 999px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    padding: 0 1.25rem;
}

.hero__button--contact {
    background-color: var(--modify__blue);
    width: 180px;
}

.hero__button--download {
    background-color: rgba(0, 0, 0, 0.3);
    width: 300px;
}

.hero__images {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50rem;
}

.hero__image {
    max-width: 100%;
    height: auto;
}

.hero__image--bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.6;
    width: 31.25rem;
}

.hero__image--front {
    position: relative;
    z-index: 2;
    width: 350px;
}

@media (max-width: 480px) {
    .hero__heading {
        font-size: 50px;
    }
    .hero {
        flex-wrap: wrap;
    }
    .hero__buttons {
        display: flex;
        flex-direction: column;
    }
    .hero__button {
        min-width: 100%;
    }
}