@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}
/* ===== Базовое обнуление ===== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Списки ===== */
ul,
ol {
  list-style: none;
  /* убираем маркеры */
}

/* ===== Текст ===== */
a {
  text-decoration: none;
  /* убираем подчеркивания */
  color: inherit;
  /* наследуем цвет */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  /* убираем стандартные отступы */
  font-weight: normal;
  /* делаем стандартный вес */
}

/* ===== Картинки ===== */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ===== Таблицы ===== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===== Формы ===== */
button,
input,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}


:root {
  --primary: rgba(34, 40, 49, 1);
  --secondary: rgba(57, 62, 70, 1);
  --modify__blue: rgba(0, 173, 181, 1);
  --primary__font: rgba(238, 238, 238, 1);
}

html {
  scroll-behavior: smooth;
}

section {
  align-items: center;
}

.modify__blue {
  color: var(--modify__blue);
}


.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
  padding: 0 49px;
}

body {
  background-color: var(--primary);
  color: var(--primary__font);
}

h2 {
  font-size: 64px;
  font-weight: 800;
}

@media (max-width: 480px) {
  .container {
    padding: 0 40px;
  }
}